:root{
    --netural: #0f0e17;
    --base-white: #fffffe;
    --netural-strong: #121629;
    --bkg: #a7a9be;
    --decent: #f25f4c;
    --accent : #d4d8f0;
    --container-color: hsl(0,0%,100%);
    --netural-dark :#07080f;

}
* {
    margin: 0;
    scroll-behavior: smooth ;
    padding: 0;
}
body {
    font-family:  'Poppins',sans-serif;
    text-align: center;
    background-color: var(--netural);
}
/* h1,h2,h3,h4,h5,h6,p {
    font-family:  'Poppins',sans-serif;
} */
/* h1,h5{
    font-size: 60px; 
    text-align: left;
} */
#nav-bar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--netural);
    padding: 20px 0;
    font-size: 20px;
    border-bottom: 1px solid var(--netural-strong);
}

.nav-links {
    display: flex;
    list-style: none;
    font-family:  'Poppins',serif;
}
.nav-links a {
    text-decoration: none;
    padding: 0 10px;
    color: var(--base-white);
}
.nav-links a:hover {
    text-decoration: underline;
}
section {
    min-height: 50vh;
    padding: 35px 0;
}
/* welcome section */

.welcome-container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}
.welcome-container .welcome-image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #444;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
    
    
}
.welcome-image img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.welcome-image img:hover{
    transform: scale(1.2);
}

.welcome-text {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; 
    align-items: center; */
    text-align: left;
    color: #a7a9be;
    flex-grow: 1;
    /* margin-left: 6rem;
    margin-right: 10rem; */
}
  .welcome-text h5 {
    margin-top: 3rem;
    margin-bottom: 1rem; /* Add spacing between h5 and h1 */
    font-size: 14px;
  }
  
  .welcome-text h1 {
    margin-bottom: 1rem; /* Add spacing between h1 and p */
  }
  .btn-group {
    margin-top: 1.5rem; /* Add spacing between p and btn-group */
  }

.welcome-text h5 span{
    color: #78caeb;
    font-size: 16px;
}
.welcome-text h1 {
    color: #28a2c0;
    font-size: 3rem;
}
.welcome-text p {
    color: #e5e5e5;
    display: flex;
    /* text-align: left; Change text alignment to left */
    line-height: 1.6; /* Increase line height for better readability */
    
}
.btn-group{
    /* text-align: left; */
    margin: 45px 0;
}
.btn-group .btn{
    border-color: #e5e5e5;
    color: #fff;
    padding:12px 25px;
    background-color:var(--netural); /* #333 */
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0, 0, 0);
    text-decoration: none;
    transition: transform 0.2s ease-in;
}
.btn-group .btn:hover {
    transform: translateY(10px);
    box-shadow: 0 15px 20px rgba(143, 209, 247, 0.3);
  }
.btn.active {
    border-color: var(--accent) ;
}

/* skills */
#tech-skills {
    flex: 1;
    flex-direction: column;  /* Arrange items vertically for id=projects*/
    display: flex;
    place-items: center;
    min-height: 20vh;
    padding: 10px 0;

  }
.about_skills-title {
    color: var(--bkg);
    font-size: 25px;
    margin: 25px 0;
    font-style: italic;
    text-align: center; /* Center the text */
    margin-bottom: 2rem;
}
.about_skills-content i {
    font-size: 30px;
    padding: 10px;
}
/* Projects */
.projects_container {
    flex-direction: column;  /* Arrange items vertically for id=projects*/
    display: flex;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
    background-color: var(--netural-dark);
    color: var(--netural);
}
 #projects .projects_container  h1 {
    border-bottom: 5px solid var(--neutral);
    width: fit-content;
    margin: 0 auto 2rem;
    font-size: 2.5rem;
    text-align: center; /* Center the text */
    margin-bottom: 2rem;
    color: var(--accent);
  }
.card_container {
    display: grid;
    row-gap: 3.5rem;
}
.card_article {
    position: relative;
    overflow: hidden;
}
.card_img{
    width: 300px;
    border-radius: 1.5rem;
    padding: 10px;
}
.card_data {
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 1.5rem;
    box-shadow: 0 8px 24px hsla(0,0%,0%,.15);
    border-radius: 1rem;
    position: absolute;
    bottom: -11rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity:0;
    transition: opacity 1s 1s;

}
.card_description {
    display: block;
    font-size: .813rem;
    margin-bottom: .25rem;
}
.card_title {
    font-size: .50rem;
    font-weight: 50;
    color: hsl(0,0%,15%);
    margin-bottom: .75rem;

}
.card_button{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 50;
    color: hsl(82,60%,28%);


}
.card_button:hover {
    text-decoration: underline;
}
.card_article:hover .card_data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}
.card_article:hover{
    animation: remove-overflow 2s forwards;
}
.card_article:not(hover) {
    animation: show-overflow 2s forwards;
}
.card_article:not(hover) .card_data {
    animation: remove-data 1s forwards;
}
@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}
@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(.5rem);
    }
    

}
@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }
}
#contact {
    background-color: var(--netural);
    color: var(--base-white);
}
/* #contact h1 {
    margin-top: 300px;

} */
#contact .social-medias {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
}
#contact .social-media {
    text-decoration: none;
    color: var(--base-white);
    transition: transform 0.2s ease-in;
    align-items: center;
    margin: 20px;
    font-size: 22px;
}
#contact .social-media:hover {
    transform: translateY(10px);
}
footer {
    border-top: 3px solid var(--accent);
    color: var(--base-white);
    font-size: 20px;
    padding: 30px;
}
@media screen and (max-width: 340px){
    .projects_container{
        margin-inline: 1rem;
    }
    .card_data {
        width: 250px;
        padding: 1rem;
    }
    #projects .project-tile {
        height: 100px;
        width: 100%;
    }
    .welcome-text p{
        font-size: 15px;
        
    }
    .welcome-text{
        justify-content: center; 
        align-items: center;
    }
    .card_img {
        width: 200px;
        padding: 1rem;
    }
    
}
@media only screen and (width < 700px) {
    h1 {
        font-size:  50px;
    }
    #projects .project-tile {
        height: 600px;
        width: 100%;
    }
    
    

}
@media screen and (min-width:1120px){
    /* .projects_container {
        height: 100vh;

    } */
    .social-medias{
        height: 10px;
    }
    .card_container{
        grid-template-columns: repeat(3, 1fr);
    }
    .card_img {
        width: 380px;
    }
    .card_data{
        width: 250px;
        padding-inline: 2.5rem;
    }
    .welcome-text{
        margin-left: 6rem;
        margin-right: 10rem;
    }
    .welcome-text p{
    margin-bottom: 1.5rem; 
    margin-right: 10rem;
    }
    .welcome-container .welcome-image {
        margin-right: 2rem;
        margin-left: 6rem;
    }
}
/* welcome container responsive design */
@media (max-width: 768px)
{
    .welcome-container{
        flex-direction: column;
        padding-top: 6rem;
        
    }
    .welcome-text {
        padding: 40px 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Center items vertically */
        text-align: center; /* Align text to the left */
      }
      
      .welcome-text h5
      {
        margin-top: 0px;
        text-align: left; /* Align text to the left */
        font-size: 18px;
      }
      .welcome-text h1{
        margin-top: 0px;
        font-size: 30px;
        margin-bottom:0.5rem
      }
      .welcome-text p{
        font-size: 12px;
        margin-left: 2rem;
      }
      .btn-group {
        margin: 45px 0; /* Center the button group vertically */
      }
      .welcome-container .welcome-image{
        width: 160px;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;
      }
      .welcome-image img {
        width: 100%; /* Ensure the image fills the container */
        height: 100%; /* Ensure the image fills the container */
      }
      #contact h1{
        font-size: 30px;
      }
      #projects .project-tile {
        height: 600px;
        width: 100%;
    }
   
}
    
